@import '~Stylesheets/variables.scss';

header {
  background: $white;
  text-align: center;
  padding: 10px 25px;
}

.headerWrap {
  display: flex;
  justify-content: center;

  img {
    height: 80%;
    width: 80%;
  }
}
