@import '~Stylesheets/variables.scss';

#status {
  font-size: 1rem;
}

.domainList {
  flex: 1;
  padding: 15px 25px;
  transform: translate(0, 0);
}

table {
  border-collapse: collapse;
  font-size: 0.7rem;
  width: 100%;
}

td {
  border-bottom: 1px solid $blue-light;
  padding: 5px;
}

th {
  border-bottom: 2px solid $blue;
  padding: 5px;
  text-align: left;
}
