@import '~Stylesheets/variables.scss';

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  border: 1px solid $blue;
  color: $blue;
  font-size: 14px;
  height: 400px;
  margin: 0;
  padding: 0;
  width: 350px;
}
